# EditorConfig - это потрясающе: https://EditorConfig.org

# Самый верхний файл EditorConfig.
root = true

# Отступ табуляции.
[*]
indent_style = tab
trim_trailing_whitespace = true

# Размер отступа, используемый в файле `package.json`, не может быть изменён.
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2
